$layout-text: #7A7A7A;

.body{
  background-color: #d8d8d8;
}

.card-cps {
  position: relative;
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.divOne {
    font-family: 'Playfair Display', serif;
    text-align:center;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}

.divTwo {
  color: $layout-text;
  padding: 45px 25px 0px 25px;
  width: 100%;
  text-align: center;
  // font-family: 'Quicksand', sans-serif;
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  background: #fff;
  font-size: 15px;
  .layoutJemputan {
    // color: #7D6196;
    // color: #72541a;
    padding: 10px 0px 10px 0px;
    font-family: 'Marcellus', Sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.0em;
  }
  .layoutPengantin {
    // color: #7D6196;
    // color: #72541a;
    padding: 10px 0px 10px 0px;
    font-family: 'Tangerine', Sans-serif;
    font-size: 35px;
    font-weight: bold;
    line-height: 1.0em;
  }
  .elementIcon {
    padding: 10px;
    display: inline-block;
    position: relative;
    background: aquamarine;
    border-radius: 50%;
  }
}

.divFour {
  // background-image: url(images/aturcara-bg.png);
  color: #000000;
  padding: 45px 25px;
  width: 100%;
  font-family: 'Cookie', cursive;
  font-size: 22px;
}

.divFive {
  color: #000000;
  padding: 45px 25px;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}

.titleStyle {
  font-size: 25px;
  padding-top: 25px;
  font-family: 'Satisfy', cursive;
}

.card{
    border: 0;
    border-radius: 0;
}

.weddingcard {
    max-width: 450px;
    margin: 0 auto 0;
    padding-bottom: 70px;
    box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
}

.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer img {
    margin-left: 0.5rem;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }
  
  .title,
  .description {
    text-align: center;
  }
  
  .description {
    line-height: 1.5;
    font-size: 1.5rem;
  }
  
  .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  
    max-width: 800px;
    margin-top: 3rem;
  }
  
  .card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
  }
  
  .card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .logo {
    height: 1em;
  }
  
  .namatetamu {
    color: #060606;
    font-weight: bold;
  }

  .commenttetamu {
    font-family: Chilanka, cursive;
    font-size: 16px;
    color: #585858;
  }

  // Aturcara
  .custom-aturcara{
    padding: 15px 0px 5px;
    background-color: rgb(252, 251, 251);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .div1-aturcara {
    // padding: 30px 30px 5px 30px;
    padding-bottom: 20px;
    // color: #fff;
    text-align: left;
    font-size: 12px;
    line-height: 12px;
}

.head-aturcara {
  text-align: center;
}

.table-aturcara td{
  height: 35px;
  color: #000;
  line-height: 20px;
}

.masa-acara {
  width: 110px;
  text-align: right;
}

.text-right {
  text-align: right!important;
}

.text-left {
  text-align: left!important;
}

  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }

  @media (max-width: 800px) {
    .card-kawin {
      height: 780px;
    }
  }