.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

.row-cps{
    display: -moz-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

.col-cps {
    flex-basis: 0;
    -moz-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.Calendar_custom {
  padding: 15px 0 65px;
  background-color: #fcfbfb;
}

.custom{
    padding: 7px 0 7px 0;
    color: #fff;
    text-align: left;
    font-size: 12px;
    line-height: 12px;
}

.footerNavbarCps {
    box-shadow: 0 -1px 4px rgba(0,0,0,.23);
    background-color: #232323;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 450px;
    padding: 3px 0;
    z-index: 10;
    font-weight: 400;
    font-style: normal;
    // max-height: 61px;
  }

.footer1-navbar-cps {
  padding: 15px 0px 65px;
  box-shadow: 0 -1px 4px rgba(0,0,0,.23);
  background-color: rgb(252, 251, 251);
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 450px;
  padding: 3px 0;
  z-index: 10;
  font-weight: 400;
  font-style: normal;
  --animate-duration: 0.4s;
}

.footer2-navbar-cps {
  padding: 15px 0px 65px;
  // box-shadow: 0 -1px 4px rgba(0,0,0,.23);
  // background-color: rgb(252, 251, 251);
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  left: 36%;
  right: 0;
  max-width: 100px;
  padding: 3px 0;
  z-index: 10;
  font-weight: 400;
  font-style: normal;
  --animate-duration: 0.4s;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (max-width: 600px) {
  .footer2-navbar-cps {
    padding: 15px 0px 65px;
    // box-shadow: 0 -1px 4px rgba(0,0,0,.23);
    // background-color: rgb(252, 251, 251);
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    left: 74.5%;
    right: 0;
    max-width: 100px;
    padding: 3px 0;
    z-index: 10;
    font-weight: 400;
    font-style: normal;
    --animate-duration: 0.4s;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}