.countdown .cardCount {
  background: #333;
  display: inline-block;
  margin: 10px;
  min-width: 70px;
}

.countdown .cardCount .countdownValue {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 10px;
}

.countdown .cardCount .countdownUnit {
  color: #fff;
  text-transform: capitalize;
}

.countdownWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.countdownItem {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 30px;
  padding-top: 10px;
  position: relative;
  width: 100%;
  height: 80px;
  border-radius: 10px 10px 10px 10px;
}

.countdownSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.countdownItem span {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .countdownItem {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    padding-top: 10px;
    position: relative;
    width: 100%;
    height: 80px;
    border-radius: 10px 10px 10px 10px;
  }
  .countdownItem span {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }
}
@media (max-width: 350px) {
  .countdownItem {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    padding-top: 10px;
    position: relative;
    width: 100%;
    height: 80px;
    border-radius: 10px 10px 10px 10px;
  }
  .countdownItem span {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .countdownSvg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
  }
}
